@use "sass:math";

@import 'variable';

$line-height: 1.8;
$dropcap-lines: 2;

.φcommon__article {
  word-wrap: break-word;
  line-height: $line-height;
  border-color: #{'BORDER_COLOR'};

  h2, h3, h4, h5, h6 {
    margin: 2rem 0 1rem;
    font-weight: bold;

    a:last-child {
      visibility: hidden;
      border: 0;

      &:hover, &:active {
        color: inherit;
        &::after {
          opacity: 1;
          transition: opacity .15s;
        }
      }
      &::after {
        padding-left: .2em;
        content: $icon-link;
        vertical-align: -16%;
        font-style: normal;
        font-family: $icon-font-family;
        line-height: 1;
        opacity: $opacity-2;
      }
    }
    &:hover, &:active {
      a {
        visibility: visible;
      }
    }
  }
   > iframe, > video {
    margin: 2em auto;
  }
  p {
    border-color: inherit;
  }
  img {
    position: relative;
    vertical-align: text-bottom;
    direction: rtl;
    &::before {
      position: absolute;
      left: 0;
      padding-left: .6em;
      text-align: right;
      content: $icon-image;
      font-family: $icon-font-family;
      background-color: var(--inside-background);
      font-size: 1rem;
      border-radius: $radius-s 0 0 $radius-s;
    }
    &::after {
      position: absolute;
      left: 1.6em;
      padding-left: 4px;
      padding-right: .6em;
      content: attr(alt);
      white-space: nowrap;
      background-color: var(--inside-background);
      font-size: 1rem;
      line-height: inherit;
      border-radius: 0 $radius-s $radius-s 0;
    }
  }
  hr {
    margin: 2.5em auto;
    width: 4px;
    height: 4px;
    border: 0;
    border-radius: $radius-s;
    background-color: currentColor;
    box-shadow: 1em 0 0 0 currentColor,-1em 0 0 0 currentColor;
  }
  blockquote {
    position: relative;
    margin: 2em 0;
    padding-left: 2.5rem;
    border-color: inherit;
    line-height: 1.6;
    &::before {
      position: absolute;
      left: 0;
      top: -.1em;
      font-family: $icon-font-family;
      font-size: 1.8rem;
      line-height: 1;
      content: $icon-quote-left;
      opacity: .2;
    }
    footer {
      font-size: smaller;
      strong {
        word-break: break-all;
      }
      cite {
        margin-left: .3rem;
      }
    }
    @include print {
      margin: 2em 1em;
      font-style: italic;
      color: #555;
    }
  }
  ul, ol {
    padding-left: 2em;
  }
  ol > li {
    list-style-type: decimal;
     > ol > li {
      list-style-type: lower-alpha;
       > ol > li {
        list-style-type: lower-roman;
      }
    }
  }
  a {
    border-bottom: 1px dotted;
    transition: color .15s, border-color .15s, opacity .15s;

    &:hover, &:active {
      border-bottom-style: solid;
      border-color: #{'ACCENT_COLOR'};
    }
  }
  sup a, a:hover {
    color: #{'ACCENT_COLOR'};
  }

  // details
  details {
    padding-left: 1.5em;
    border-color: inherit;

    &[open] {
      > summary::before {
        transform: rotate(90deg);
      }
    }
    > summary {
      position: relative;
      outline: inherit;
      list-style: none;
      cursor: pointer;

      user-select: none;

      &::before {
        font-family: $icon-font-family;
        position: absolute;
        left: -1.5em;
        content: $icon-next;
        font-weight: 700;
        transition: transform .15s;
      }
      &::marker {
        display: none;
      }
    }
    & > p:first-of-type {
      margin-top: 0;
    }

    figure.highlight {
      border-color: #{'BORDER_COLOR'};
    }
  }

  // indent with 4 spaces
  > pre {
    overflow-x: auto;
    code {
      color: inherit;
      background-color: inherit;
    }
  }

  sup a {
    border-bottom: none;
    &:hover {
      border-bottom: none;
    }
  }

  @include print {
    line-height: 1.5;
    a {
      border-bottom: 0;
      &[href^="http"],
      &[href^="https"]
      &[href^="//"] {
        &::after {
          content: #{'" ("attr(href)")"'};
        }
      }
    }
  }

  &--dropcap::first-letter {
    float: left;
    margin: math.div($line-height - 1, 2) * 1rem - .1rem .4rem 0 0;
    // ($dropcap-lines + ($line-height - 1) * ($dropcap-lines - 1) + .2) * 1rem;
    font-size: ($dropcap-lines * $line-height - ($line-height - 1) + .1) * 1rem;
    line-height: 1;
    @include print {
      font-size: ($dropcap-lines * 1.5 - (1.5 - 1) + .1) * 1rem;
    }
  }

  .φinject__bounded {
    margin: 1.5em 0;
    border-color: inherit;

    > div {
      overflow-x: auto;
      @include print {
        overflow-x: visible;
      }
    }

    ::-webkit-scrollbar-thumb {
      background-color: #{'BORDER_COLOR'};
      &:hover {
        background-color: #{'FOREGROUND_COLOR'};
      }
    }

    // full width on mobile
    @include mobile {
      overflow-x: auto;
      margin: 1.5em -#{$padding-mobile};

      > div {
        display: table;
        overflow-x: inherit;
        padding: 0 $padding-mobile;
        min-width: 100%;
        box-shadow: none !important;
      }
    }
  }
  .φinject__table {
    border-color: inherit;
    table {
      margin: auto;
      min-width: 100%;
      border-color: inherit;
    }
    th, td {
      padding: .5em 1em;
      border-bottom: 1px solid;
      border-color: inherit;
    }
    th {
      text-align: inherit;
      white-space: nowrap;
      font-weight: bold;
      background-color: #{'ACCENT_COLOR_005'};
    }
    td {
      white-space: pre;
    }
    th[align="center"] {
      text-align: center;
    }
    th[align="right"] {
      text-align: right;
    }
    @include print {
      text-align: center;
      table {
        display: inline-table;
        min-width: auto;
        border: 1px solid;
        text-align: left;
      }
      td, th {
        white-space: normal;
        border: 1px solid;
        padding: .5em;
      }
      tr:nth-child(2n) {
        background: none !important;
      }
    }
  }
  // block orphan img
  .φinject__blockimg {
    display: block;
    margin: auto;
    width: fit-content;
    cursor: zoom-in;

    + figcaption {
      display: block;
      margin-top: .75em;
      text-align: center;
      font-size: .85em;
      opacity: .63;
    }
  }
  // checklist
  .φinject__checklist {
    padding-left: .75em;
    li {
      list-style: none;
    }
    i::before {
      margin-right: .4em;
      content: $icon-square;
      font-family: $icon-font-family;
      font-size: smaller;
      font-style: normal;
    }
    input {
      display: none;
      &:checked ~ i::before {
        content: $icon-check-square;
      }
    }
  }

  .φinject__tree {
    // square icon
    &.φinject__tree--square summary::before {
      content: $icon-plus-square;
    }
    &.φinject__tree--square details[open] > summary::before {
      content: $icon-minus-square;
    }
    // circle icon
    &.φinject__tree--circle summary::before {
      content: $icon-plus-circle;
    }
    &.φinject__tree--circle details[open] > summary::before {
      content: $icon-minus-circle;
    }
    // arrow icon
    &.φinject__tree--arrow summary::before {
      content: $icon-plus;
    }
    &.φinject__tree--arrow details[open] > summary::before {
      content: $icon-minus;
    }

    details[open] > summary::before {
      transform: none;
    }
    summary::before {
      font-weight: normal;
    }

    li {
      margin-left: 1.5rem;
      list-style-type: none;
    }

    ul {
      padding: 0;
      margin: 0;
    }
  }

  .φinject__timeline {
    > ul {
      padding-left: 2rem;
      li {
        position: relative;
        margin: .5em 0;
        list-style-type: none;
        &:last-child::before {
          content: none;
        }
        &::before {
          position: absolute;
          top: .9rem;
          left: -2rem;
          margin-top: 3px;
          margin-left: 4px;
          width: 2px;
          height: 100%;
          content: '';
        }
        &::after {
          position: absolute;
          top: .9rem;
          left: -2rem;
          width: 6px;
          height: 6px;
          border: 2px solid #{'ACCENT_COLOR'};
          border-radius: 50%;
          content: '';
          transform: translateY(-50%);
        }
      }
      > li {
        &::before {
          background-color: #{'BORDER_COLOR'};
        }
        &::after {
          background: #{'CARD_BACKGROUND'};
        }
      }
    }
  }
}
