// https://github.com/chriskempson/base16
// HIGHLIGHT_00 - Default Background
// HIGHLIGHT_01 - Lighter Background (Used for status bars)
// HIGHLIGHT_02 - Selection Background
// HIGHLIGHT_03 - Comments, Invisibles, Line Highlighting
// HIGHLIGHT_04 - Dark Foreground (Used for status bars)
// HIGHLIGHT_05 - Default Foreground, Caret, Delimiters, Operators
// HIGHLIGHT_06 - Light Foreground (Not often used)
// HIGHLIGHT_07 - Light Background (Not often used)
// HIGHLIGHT_08 - Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
// HIGHLIGHT_09 - Integers, Boolean, Constants, XML Attributes, Markup Link Url
// HIGHLIGHT_0A - Classes, Markup Bold, Search Text Background
// HIGHLIGHT_0B - Strings, Inherited Class, Markup Code, Diff Inserted
// HIGHLIGHT_0C - Support, Regular Expressions, Escape Characters, Markup Quotes
// HIGHLIGHT_0D - Functions, Methods, Attribute IDs, Headings
// HIGHLIGHT_0E - Keywords, Storage, Selector, Markup Italic, Diff Changed
// HIGHLIGHT_0F - Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?>

@import 'variable';

:global {
  .highlight {
    position: relative;
    margin: 1em 0;
    border-radius: $radius-s;
    color: #{'HIGHLIGHT_05'};
    border: 1px solid #{'HIGHLIGHT_01'};
    background-color: #{'HIGHLIGHT_00'};

    > table {
      table-layout: fixed;
      width: 100%;
    }

    code {
      background: none;
    }

    pre {
      margin: 0;
      border: 0;
      @include print {
        padding-left: 0;
        padding-right: 0;
        white-space: pre-wrap;
      }
    }

    .gutter {
      text-align: right;
      width: 2em;
      vertical-align: top;
      padding-right: .2em;
      color: #{'HIGHLIGHT_03'};

      user-select: none;
      pre {
        padding: .75rem .25rem .75rem .75rem;
      }
      + .code pre {
        padding-left: .5rem;
        padding-right: 0;
      }
      @include print {
        display: none;
      }
    }

    .code {
      overflow-x: auto;
      .line {
        padding-right: .75rem;
      }
    }

    figcaption {
      // margin: -1px -1px 0;
      padding: .5rem 1rem;
      font-family: #{'FONT_CODE'};
      font-size: 85%;
      color: #{'HIGHLIGHT_05'};
      border-bottom: 1px solid #{'HIGHLIGHT_01'};
      border-radius: $radius-s $radius-s 0 0;
      // background-color: #{'HIGHLIGHT_01'};
      a {
        float: right;
        border: 0;
      }
      @include print {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .emphasis {
      font-style: italic;
    }

    .strong {
      font-weight: bold;
    }

    /* Tomorrow Comment */
    .comment, .quote {
      color: #{'HIGHLIGHT_03'};
    }

    /* Tomorrow Red */
    .variable, .template-variable, .tag, .name, .selector-id, .selector-class, .regexp, .deletion {
      color: #{'HIGHLIGHT_08'};
    }

    /* Tomorrow Orange */
    .number, .built_in, .builtin-name, .literal, .type, .params, .meta, .link {
      color: #{'HIGHLIGHT_09'};
    }

    /* Tomorrow Yellow */
    .attribute {
      color: #{'HIGHLIGHT_0A'};
    }

    /* Tomorrow Green */
    .string, .symbol, .bullet, .addition {
      color: #{'HIGHLIGHT_0B'};
    }

    /* Tomorrow Blue */
    .title, .section {
      color: #{'HIGHLIGHT_0D'};
    }

    /* Tomorrow Purple */
    .keyword, .selector-tag {
      color: #{'HIGHLIGHT_0E'};
    }

    ::-webkit-scrollbar-thumb {
      background-color: #{'HIGHLIGHT_01'};
      &:hover {
        background-color: #{'HIGHLIGHT_02'};
      }
    }

    ::selection {
      background-color: #{'HIGHLIGHT_02'};
      color: inherit;
    }

    @include print {
      border: 0 !important;
    }
  }

  // gist style override
  .gist .gist-meta {
    background: none !important;
  }
  .gist .gist-file {
    border-color: $color-gray !important;
    border-radius: $radius-s !important;
  }
  .gist .gist-data {
    padding: .4em 0 !important;
    border-color: $color-gray !important;
    border-radius: $radius-s $radius-s 0 0 !important;
  }
}
