<ng-container *ngIf="data$ | async as it">
  <header class="φv-page__header">
    <h1 class="φv-page__title">{{ it.page.title }}</h1>
    <div class="φv-page__meta" *ngIf="it.page.meta">{{ it.page.date_formatted.ll }}</div>
  </header>
  <article class="φv-page__body" [attr.data-title]="it.page.title" itemscope itemtype="http://schema.org/Article">
    <div
      class="φcommon__article"
      [innerHTML]="it.page.content | unsafe"
      [ngClass]="{ 'φcommon__article--dropcap': it.page.dropcap }"
      itemprop="articleBody"
      isSnippet
      isZoomable
    ></div>
    <is-copyright *ngIf="it.page.copyright" [meta]="it.page.copyright"></is-copyright>
    <is-reward *ngIf="it.page.reward"></is-reward>
    <div *ngIf="plugins">
      <div *ngFor="let t of plugins" class="φcommon__plugin" [innerHTML]="t | unsafe" isSnippet></div>
    </div>
  </article>
  <is-comment
    *ngIf="it.page.comments"
    [page]="{ id: it.page.link, url: it.page.plink, title: it.page.title }"
  ></is-comment>
</ng-container>
