@import 'variable';
$header-height: 4rem;

.φv-search {
  display: block;

  &--fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    overflow-y: auto;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);

    .φv-search__inner {
      margin: 3rem auto 2rem;
      max-width: 660px;
      animation: .2s both;
      animation-name: φv-search__ani-inner;
      border-color: #{'BORDER_COLOR'};

      @include mobile {
        margin: 0;
        max-width: none;
      }
      @include desktop {
        max-width: #{'CONTENT_WIDTH'};
      }
    }
  }

  &__header {
    display: flex;
    padding: .25rem .5rem;
    background: #{'CARD_BACKGROUND'};
    white-space: nowrap;

    @include card($padding: 0);
    @include mobile {
      padding: 0 .25rem;
      max-height: $header-height;
    }

    &--lined {
      margin-bottom: 5px;

      @include mobile {
        margin-bottom: 0;
        border-bottom: 1px solid;
        border-color: inherit;
      }
    }
    &-exit {
      padding: 1rem;
      font-size: 1.5rem;
      opacity: $opacity-3;
      transition: opacity .15s;
      &:hover, &:active {
        color: #{'ACCENT_COLOR'};
        opacity: 1;
      }
    }
  }
  &__field {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
    &-icon {
      padding: 1rem;
      font-size: 1.5rem;
      opacity: $opacity-3;
      transition: opacity .15s;
    }
    &-input {
      flex-grow: 1;
      padding: 0;
      font-size: 1.2rem;
      border: 0;
      line-height: 1.4;
    }
    &:hover &-icon,
    &-input:focus + &-icon {
      color: #{'ACCENT_COLOR'};
      opacity: 1;
    }
  }
  &__result {
    overflow: hidden;
    padding-bottom: 1px;
    background: #{'BACKGROUND'};
    border-color: inherit;

    @include card($padding: 0);
    @include mobile {
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      max-height: #{'calc(100vh - ' + $header-height + ')'};
    }
  }
  &__entries {
    border-color: inherit;
    background: #{'CARD_BACKGROUND'};
    @include card($radius: 0);

    &-title {
      display: flex;
      justify-content: space-between;
      margin-top: -1rem;
      padding: 1rem 0;
      font-size: 1.2rem;

      &--caption {
        border-bottom: 2px dashed;
        border-color: inherit;
      }
    }
    &-logo {
      height: 1.5rem;
    }
  }
  &__entry {
    position: relative;
    display: flex;
    padding: 1.5rem 0;
    border-bottom: 1px solid;
    border-color: inherit;

    @include mobile {
      padding: 1rem 0;
    }
    &:last-of-type {
      padding-bottom: 0;
      border: 0;
    }
    &-body {
      flex: 1;
    }
    &-thumbnail {
      margin-right: 1.5rem;
      width: 6rem;
      height: 6rem;
      border-radius: $radius-s;
      background-position: center;
      background-size: auto 100%;

      @include mobile {
        margin-right: 1rem;
      }
    }
    &-title {
      display: block;
      font-family: #{'FONT_HEADING'};
      font-size: 1.2rem;
      transition: color .15s;

      &:hover, &:active {
        color: #{'ACCENT_COLOR'};
      }
    }
    &-meta {
      display: block;
      line-height: 2.4;
      opacity: $opacity-2;
    }
    &-title, &-content {
      em {
        color: $color-red;
        font-style: normal;
      }
    }
    &-content {
      word-break: break-word;
    }
  }
}

@keyframes φv-search__ani-inner {
  from {
    transform: translate3d(0, -4rem, 0);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
