<ng-container *ngIf="data$ | async as it">
  <is-post-card *ngFor="let post of it.postList.data" [post]="assign(post, pv)"></is-post-card>
  <is-pager
    *ngIf="it.postList.total > 1"
    [size]="it.postList.per_page"
    [count]="it.postList.total"
    [current]="it.postList.current"
    url="page"
    [indexUrl]="app.config.index === 'page' ? '' : 'page/1'"
  ></is-pager>
</ng-container>
