@import 'variable';
$bottom: 2rem;

.φapp {
  position: relative;
  display: block;
  overflow-x: hidden;
  height: 100%;

  &__outer {
    position: relative;
    margin-left: $sidebar-width;
    height: 100%;
    transform-origin: 0 42%;

    @include tablet {
      margin: 0;
    }
    @include print {
      margin: 0;
    }
  }
  &__main {
    height: 100%;
  }
  &__page-container {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    @include mobile {
      background: #{'BACKGROUND'};
    }
  }
  &__page {
    position: relative;
    display: block;

    @include desktop {
      margin: 2rem auto $bottom;
      max-width: #{'CONTENT_WIDTH'};
      min-width: 640px;
    }
    @include print {
      margin: 0 auto;
      max-width: 680px;
    }
  }

  // side content overlay
  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
  }
}

@include mobile {
  .φapp {
    background: #{'SIDEBAR_BACKGROUND'};
    &__outer--pushed {
      &::before {
        position: absolute;
        top: $shadow-offset;
        bottom: $shadow-offset;
        left: -$shadow-offset;
        z-index: -1;
        width: 100%;
        border-radius: $radius-l;
        background-color: rgba(255, 255, 255, .2);
        content: '';
      }
      .φapp__page-container {
        overflow-y: hidden;
        border-radius: $radius-l;
        transition: border-radius .4s;
      }
    }
  }
}
