// https://fonts.googleapis.com/css?family=Baloo
/* latin */
@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Baloo Bhaijaan';
  src: local('Baloo Bhaijaan Regular'), local('BalooBhaijaan-Regular'), url(../assets/fonts/google/bbr.woff2) format('woff2');

  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

// https://fonts.googleapis.com/css?family=Josefin+Sans
/* latin */
@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Josefin Sans';
  src: local('Josefin Sans Regular'), local('JosefinSans-Regular'), url(../assets/fonts/google/jsr.woff2) format('woff2');

  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

// https://fonts.googleapis.com/css?family=Montserrat:300
/* latin */
@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: 'Montserrat';
  src: local('Montserrat Light'), local('Montserrat-Light'), url(../assets/fonts/google/ml.woff2) format('woff2');

  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

// https://fonts.googleapis.com/css?family=Inconsolata
/* latin */
@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Inconsolata';
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url(../assets/fonts/google/ir.woff2) format('woff2');

  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
