@use "sass:math";

@import 'variable';
$icon-size: 2.4rem;

.φimg-loader {
  display: block;

  &__img {
    display: block;
    width: 100%;
  }
  &__loader {
    position: relative;
    display: block;
    max-width: 100%;
    text-align: center;
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: math.div(-$icon-size, 2);
      margin-left: math.div(-$icon-size, 2);
      color: inherit;
      content: $icon-loader;
      font-style: normal;
      font-size: $icon-size;
      font-family: $icon-font-family;
      opacity: $opacity-3;
      animation: 1.75s infinite linear;
      animation-name: φimg-loader__ani-loader;
    }
    &--error {
      &::before {
        content: $icon-image;
        animation: none;
      }
    }
  }
}

@keyframes φimg-loader__ani-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
