<p class="φreward__text">{{ text }}</p>
<div class="φreward__inner" >
  <div class="φreward__trigger-list">
    <a
      class="φreward__trigger"
      [ngClass]="i.icon ? 'φcommon__icon iκ-' + i.icon : ''"
      [ngStyle]="{ color: i.index === select.index && i.color ? i.color : '' }"
      *ngFor="let i of methods"
      (click)="onClick(i)"
      >{{ i.icon ? '' : ('reward.' + i.name | i18n) }}</a
    >
  </div>
  <div class="φreward__popup-wrapper">
    <div class="φreward__popup" *ngIf="select.name">
      <is-img-loader *ngIf="select.qrcode" src="{{ select.qrcode }}"></is-img-loader>
      <div *ngIf="select.url || select.text">
        <a
          *ngIf="select.url"
          [href]="select.url | unsafe: 'url'"
          target="_blank"
          rel="external nofollow noopener"
          >{{ select.text || select.url }} <span class="φcommon__icon iκ-external"></span
        ></a>
        <ng-container *ngIf="!select.url">{{ select.text }}</ng-container>
      </div>
    </div>
  </div>
</div>
