@import 'variable';

.φreward {
  position: relative;
  display: block;
  margin: 4rem 0 1.5rem;
  text-align: center;

  @include print {
    display: none;
  }
  &__text {
    margin: 0;
    font-size: 1.1rem;
    line-height: 2;
  }
  &__inner {
    display: inline-block;
    padding-top: 1rem;
    border-color: #{'BORDER_COLOR'};
  }
  &__popup {
    overflow: hidden;
    border: 1px solid;
    border-color: inherit;
    border-radius: $radius-m;
    background: #{'CARD_BACKGROUND'};
    box-shadow: transparentize($color: $color-black, $amount: .9) 3px 4px 11px;
    animation: .2s both;
    animation-name: φreward__ani-popup;

    &-wrapper {
      margin-top: 1rem;
      max-width: 24rem;
      border-color: inherit;
    }

    div {
      padding: 1rem 1.5rem;
      text-align: left;
      line-height: 1.5;

      @include mobile {
        padding: 1rem;
      }
    }

    a {
      display: block;
      overflow: hidden;
      max-width: 100%;
      border-radius: 3px;
      border-radius: $radius-s;
      text-overflow: ellipsis;
      white-space: nowrap;
      transition: background-color .15s, color .15s;
    }
  }
  &__trigger {
    position: relative;
    display: inline-block;
    padding: 0 1rem;
    border-color: inherit;
    font-size: 1.1rem;
    transition: color .15s;

    &-list {
      display: inline-block;
      box-sizing: border-box;
      border: 1px solid;
      border-color: inherit;
      border-radius: 2.6rem;
      white-space: nowrap;
      font-size: .85rem;
      line-height: 2.6rem;
    }

    &:after {
      position: absolute;
      top: 50%;
      right: 0;
      height: 1.4rem;
      border-left: 1px solid;
      border-color: inherit;
      content: '';
      transform: translateY(-50%);
    }

    &:first-child {
      padding-left: 1.25rem;
    }
    &:last-child {
      padding-right: 1.25rem;
    }
    &:last-child:after {
      content: none;
    }
    &:before {
      vertical-align: middle;
      font-size: 1.4rem;
    }
  }
}

@keyframes φreward__ani-popup {
  from {
    opacity: 0;
    transform: translate3d(0, 1rem, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
