@import 'variable';

.φtoc {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  user-select: none;
  padding: 1rem 0;
  width: $toc-width;
  background: #{'CARD_BACKGROUND'};
  transform: translate3d($toc-width, 0, 0);

  @include print {
    display: none;
  }

  &--active {
    box-shadow: -2px 0 3px rgba(0, 0, 0, .1);
  }

  &__entries {
    position: relative;
    margin: 0;
    padding: 0 0 0 1.5em;
    &-top {
      padding: 0;

      &::before {
        position: absolute;
        top: .5em;
        bottom: .5em;
        left: 1px;
        width: 2px;
        content: '';
        background-color: #{'ACCENT_COLOR'};
        background-image: none;
        transition: transform .4s;
        transform: scale3d(1, 0, 1);
        transform-origin: center top;
      }
      &--active::before {
        transform: scale3d(1, 1, 1);
      }
    }
  }
  &__link {
    display: block;
    padding: .5em 1em;
    line-height: 1.4;

    &--active, &:hover, &:active {
      color: #{'ACCENT_COLOR'};
    }

    code {
      white-space: nowrap;
    }

    &-index {
      float: left;
      margin-right: 4px;
      font-family: #{'FONT_LABEL'};
      font-size: .9rem;
    }
    &-title {
      display: table-cell;
    }
  }
}
