<a class="φarchive__link" *ngFor="let post of posts" routerLink="/{{ post.link }}">
  <span class="φarchive__time">{{
    post.date_formatted[dateFormat] || post.date_formatted.L
  }}</span>
  <span class="φarchive__text">{{ post.title }}</span>
</a>
