@import 'variable';

.φv-category {
  &__nav {
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    background: #{'CARD_BACKGROUND'};
    white-space: nowrap;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    &-wrapper {
      position: relative;
      margin-bottom: .3rem;
      overflow: hidden;
      @include card($padding: 0);
    }

    &-link {
      position: relative;
      display: inline-block;
      padding: 0 2rem;
      font-size: 1.2rem;
      line-height: 3.8;

      &::after {
        margin-left: .5rem;
        padding: 2px 5px;
        border-radius: $radius-s;
        border: 1px solid #{'BORDER_COLOR'};
        content: attr(count);
        font-family: #{'FONT_LABEL'};
        font-size: .85rem;
      }

      &::before {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 38%;
        height: .3rem;
        content: '';
        transition: transform .4s;
        transform: scale3d(1,0,1);
        transform-origin: bottom center;
        border-radius: $radius-s $radius-s 0 0;
        background-color: currentColor;
      }

      &--active, &:hover, &:active {
        color: #{'ACCENT_COLOR'};

        &::before {
          transform: scale3d(1,1,1);
        }
        &::after {
          border-color: #{'ACCENT_COLOR_02'};
        }
      }
    }
    &-navigator {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      display: flex;
      align-items: center;
      padding: 0 .5em;
      background: #{'CARD_BACKGROUND'};

      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        color: #{'CARD_COLOR'};
        box-shadow: 0 0 10px 14px currentColor;
      }

      user-select: none;
      &--forward {
        right: 0;
        left: auto;
      }
    }
  }
}
