@import 'variable';

.φcomment {
  display: block;
  position: relative;
  padding: 0 $padding $padding;

  @include mobile {
    padding: 0 $padding-mobile $padding-mobile;
  }
  @include print {
    display: none;
  }
}
