<div class="φpost-card__inner" *ngIf="post.title">
  <a class="φpost-card__thumbnail" *ngIf="post.thumbnail" routerLink="/{{ post.link }}">
    <is-img-loader [ratio]=".5625" src="{{ post.thumbnail }}" alt="{{ post.title }}"></is-img-loader>
  </a>
  <h3 class="φpost-card__title">
    <a routerLink="/{{ post.link }}">{{ post.title }}</a>
  </h3>
  <div
    class="φpost-card__excerpt φcommon__article"
    *ngIf="post.excerpt"
    [innerHTML]="post.excerpt | unsafe"
  ></div>
  <footer class="φpost-card__footer">
    <span class="φpost-card__meta"
      ><i class="φcommon__icon iκ-calendar φpost-card__meta-icon"></i>{{ post.date_formatted.ll }}</span
    >
    <span class="φpost-card__meta" *ngIf="post.pv"
      ><i class="φcommon__icon iκ-eye φpost-card__meta-icon"></i>{{ post.pv }}</span
    >
  </footer>
</div>
<div *ngIf="!post.title && post.custom" [innerHTML]="post.custom | unsafe" isSnippet></div>
