@use "sass:math";

@import 'variable';

.φv-post {
  display: block;
  overflow: hidden;
  background: #{'CARD_BACKGROUND'};

  @include card($padding: 0);
  @include print {
    background: #fff;
  }

  // common style of header stuff
  &__header {
    position: relative;

    @include mobile {
      border-radius: 0;
    };
    @include print {
      display: none;
    };

    &-title {
      margin: 0;
    }

    &-meta {
      margin: 0;
      line-height: 2;
      background-color: #{'ACCENT_COLOR_01'};

      &-item {
        display: inline-block;
        margin-right: 1rem;
        transition: color .15s;
        &:before {
          margin-right: .4rem;
          font-family: $icon-font-family;
          vertical-align: -1px;
        }

        &--date::before {
          content: '#{$icon-calendar}';
        }
        &--author::before {
          content: '#{$icon-author}';
        }
        &--eye::before {
          content: '#{$icon-eye}';
        }
        &--clock::before {
          content: '#{$icon-clock}';
        }
        &--cate::before {
          content: '#{$icon-cate}';
        }
      }
    }
  }


  &__body {
    position: relative;
    padding: math.div($padding * 3, 8) $padding $padding;

    @include mobile {
      padding: math.div($padding-mobile * 3, 8) $padding-mobile $padding-mobile;
    }
    @include print {
      margin: 2rem 4rem;
      padding: 0;
      &::before {
        display: block;
        margin: 1rem 0 4rem;
        content: attr(data-title);
        text-align: center;
        font-size: 2.2rem;
      }
    }
  }

  &__footer {
    padding: 0 $padding;
    border-color: #{'BORDER_COLOR'};

    @include mobile {
      padding: 0 $padding-mobile;
    }
    @include print {
      display: none;
    }

    &-tags {
      padding-bottom: 1rem;
    }
    &-siblings {
      display: flex;
      padding: 1.5rem 0;
      border-top: 1px solid;
      border-color: inherit;
      line-height: 1.5;

      @include mobile {
        padding: 1rem 0;
      }
      &-link {
        position: relative;
        flex: 1;
        padding: 0 1rem;

        &:hover, &:active {
          color: #{'ACCENT_COLOR'};
        }
      }
      &-link::before, &-link::after {
        position: absolute;
        top: 0;
        font-size: 1.4rem;
        font-family: $icon-font-family;
        line-height: 1;
      }
      &-link--prev {
        &::before {
          left: -.5rem;
          content: $icon-previous;
        }
      }
      &-link--next {
        text-align: right;
        &::after {
          right: -.5rem;
          content: $icon-next;
        }
      }
    }
  }

  // common header
  &__header-common {
    .φv-post__header-title {
      padding: $padding * 2 $padding $padding;
    }

    .φv-post__header-meta {
      padding: 0 $padding;
      line-height: 3;

      @include mobile {
        padding: 0 $padding-mobile;
      };
    }
  }

  // header with thumbnail
  &__header-thumbnail {
    padding-top: 37%;
    background-position: center;
    background-size: cover;
    color: $color-white;

    @include mobile {
      padding-top: 30%;
    };

    .φv-post__header-meta {
      background-color: transparent;
      &-wrapper {
        padding: 2.5rem $padding 1rem;
        background: rgba(0,0,0,.25);
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,.5) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,.75) 100%);

        @include mobile {
          padding: 2rem $padding-mobile 1rem;
        };
      }
    }

    &-sep {
      margin: .7rem 0 1rem;
      height: 2px;
      border: 0;
      background: #fff;
      opacity: $opacity-3;
      animation: .4s both;
      animation-name: φv-post__ani-sep;

      @include mobile {
        margin: .5rem 0 1rem;
      };
    }
  }
}

@keyframes φv-post__ani-sep {
  from {
    transform: scale3d(.8, .8, 1);
  }
  to {
    transform: none;
  }
}
