<article class="φcategory__posts">
  <is-archive [posts]="categories.data"></is-archive>
</article>
<is-pager
  *ngIf="categories.total > 1"
  [size]="categories.per_page"
  [count]="categories.total"
  [current]="categories.current"
  [url]="'categories/' + categories.name"
  [indexUrl]="'categories/' + categories.name"
></is-pager>
