@import 'variable';

.φtag {
  display: inline-block;
  margin: 0 1rem 1rem 0;

  &__anchor {
    display: block;
    padding: 0 1em;
    background-color: #{'ACCENT_COLOR_005'};
    border-radius: $radius-s;
    line-height: 2.4;
    transition: background-color .15s;

    &::before {
      margin-right: .2em;
      content: $icon-hash;
      vertical-align: -.1em;
      font-size: .85em;
      font-family: $icon-font-family;
      vertical-align: -1px;
      line-height: inherit;
    }

    &:hover, &:active {
      color: $color-white;
      background-color: #{'ACCENT_COLOR'};
      background-image: none;
    }
  }
}
