@import 'variable';

.φv-404 {
  display: block;
  text-align: center;
  opacity: $opacity-3;

  &__emoji {
    margin: 10rem 0 3rem;
    border: 0;
    font-size: 10rem;
    font-family: monospace;

    @include mobile {
      font-size: 6rem;
    }
  }
  &__summary {
    font-size: 1.25rem;
  }
}
