@use "sass:math";

@import 'variable';
$overflow-offset: 1rem;
$darkmode-size: 2.4rem;

.φsidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  border-right: 1px solid #{'BORDER_COLOR'};

  @include tablet {
    opacity: 0;
    z-index: 0;
  }
  @include mobile {
    border: 0;
    color: $color-white;
  }
  @include print {
    display: none;
  }

  &__inner {
    position: relative;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    margin-right: -$overflow-offset;
    padding-right: $overflow-offset;
    height: 100%;
    width: $sidebar-width;

    @include mobile {
      padding-right: $shadow-offset;
    }

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
  &__main {
    padding: 1px 0;
  }
  &__author {
    position: relative;
    margin: 1rem;
    padding-top: 2.4rem;
    background: #{'CARD_BACKGROUND'};
    border-radius: $radius-m;
    text-align: center;
    overflow: hidden;

    @include mobile {
      border: 0;
      background: none !important;
    }
    &-avatar {
      border-radius: 50%;

      &-layout {
        display: flex;
        padding: 2px;
        margin: auto;
        width: 8rem;
        height: 8rem;
        border: 1px solid #{'ACCENT_COLOR_04'};

        > * {
          max-width: 100%;
        }
        > img {
          height: auto;
        }

        @include mobile {
          border-color: rgba(255, 255, 255, .618) !important;
        }
      }
    }

    &-name {
      display: block;
      margin: 1.5rem;
      font-family: #{'FONT_LOGO'};
      font-size: 1.714285rem;
      transition: color .15s;

      &:hover, &:active {
        color: #{'ACCENT_COLOR'};
      }

      @include mobile {
        color: $color-white !important;
      }
    }
    &-bio {
      padding: 0 1.5rem 1.5rem;
      line-height: 1.5;
      opacity: $opacity-2;
      margin: 0;
      white-space: pre-line;
    }
  }

  &__state {
    display: flex;
    justify-content: space-around;
    margin: 0 1rem;
    padding: 0 1rem;
    background: #{'CARD_BACKGROUND'};
    border-radius: $radius-m;
    text-align: center;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;

    user-select: none;

    @include mobile {
      background: none !important;
    }

    &-item {
      position: relative;
      padding: 1.25rem 0;
      min-width: 24%;
      border-radius: $radius-m;

      &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 62%;
        height: .3rem;
        content: '';
        transition: transform .4s;
        transform: scale3d(1, 0, 1);
        transform-origin: bottom center;
        border-radius: $radius-s $radius-s 0 0;
        background-color: currentColor;;
      }
      span {
        display: block;
        margin: 0 .5rem;
        line-height: 1;

        &:first-child {
          margin-bottom: .75rem;
          font-family: #{'FONT_LABEL'};
          font-size: 1.4rem;
        }
        &:last-child {
          font-size: .95rem;
          opacity: $opacity-2;
        }
      }

      @include mobile {
        &::after {
          left: -.2rem;
          right: -.2rem;
          top: .5rem;
          bottom: .5rem;
          width: auto;
          height: auto;
          border-radius: $radius-m;
          background-color: rgba(255, 255, 255, .1) !important;
        }
      }

      &--active, &:hover, &:active {
        color: #{'ACCENT_COLOR'};
        &::after {
          transform: scale3d(1, 1, 1);
        }
        @include mobile {
          color: $color-white !important;
        }
      }
    }
  }

  &__routes {
    margin: 2rem 0 3rem;
    -webkit-tap-highlight-color: transparent;

    user-select: none;
  }
  &__routes-link {
    position: relative;
    display: block;
    padding-right: 2rem;
    font-family: #{'FONT_MENU'};
    border-color: inherit;
    text-align: right;
    text-transform: capitalize;
    white-space: pre;
    line-height: 3rem;
    transition: all .15s;

    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      width: 7px;
      height: 7px;
      background: #{'BACKGROUND'};
      border-radius: 50%;
      content: '';
      box-shadow: 0 0 0 1px #{'BORDER_COLOR'};
      transform: translate(50%, -50%);
    }

    @include mobile {
      padding-left: 3rem;
      text-align: left;

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, transparent 100%) !important;
        content: '';
        transition: transform .4s;
        transform: scale3d(0, 1, 1);
        transform-origin: 0 50%;
      }
      &::after {
        content: none;
      }
    }

    &--active, &:hover, &:active {
      color: #{'ACCENT_COLOR'};
      font-size: 1.168rem;
      &::after {
        background-color: #{'ACCENT_COLOR'};
        background-image: none;
      }

      @include mobile {
        font-size: inherit;
        color: $color-white !important;
        &::before {
          transform: scale3d(1, 1, 1);
        }
      }
    }
  }

  &__footer {
    padding: 1rem 1rem .75rem;
    text-align: center;
    line-height: 1.4em;
    > p {
      margin: .25rem 0 0;
      font-size: .85rem;

      a {
        &:hover, &:active {
          @include mobile {
            color: $color-white;
            border-color: $color-white;
          }
        }
      }
    }
    &-item + &-item::before {
      padding: 0 .8rem;
      content: '|';
    }

    &--fixed {
      position: absolute;
      right: $overflow-offset;
      bottom: 0;
      left: 0;
    }

    &-sns {
      margin-bottom: 1rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      font-family: var(--inside-font-logo);

      user-select: none;

      &-link {
        margin: 0 2px;
        padding: 4px;
        font-size: 1.2em;
        transition: color .15s;
        &::before {
          vertical-align: top;
        }
        > svg {
          height: 1em;
          width: auto;
          fill: currentColor;
          vertical-align: top;
        }
        &:hover, &:active {
          color: #{'ACCENT_COLOR'};
        }
        @include mobile {
          &:hover, &:active {
            color: $color-white !important;
          }
        }
      }
    }
  }

  &__darkmode {
    width: $darkmode-size;
    height: $darkmode-size;
    background-color: var(--inside-foreground-color);
    border-radius: 50%;
    cursor: pointer;
    transition: transform .15s;
    &:hover, &:focus {
      transform: scale(2);
    }
    @include desktop {
      position: absolute;
      right: math.div(-$darkmode-size, 2);
      top: math.div(-$darkmode-size, 2);
    }
    @include mobile{
      position: fixed;
      left: math.div(-$darkmode-size, 2);
      top: math.div(-$darkmode-size, 2);
    }
  }
}
