@use "sass:math";

@import 'variable';
$fab-offset: 140%;
$fab-size: 4.4rem;
$fab-sub-size: 3.4rem;

@mixin sub-transform($deg, $level) {
  $v: $level * -$fab-offset;
  transform: translate3d($v * cos($deg), $v * sin($deg), 0);
}

.φfab {
  position: fixed;
  right: 1rem;
  bottom: 3.5rem - math.div($fab-size, 2);
  z-index: 1;
  color: $color-white;
  text-align: center;
  -webkit-tap-highlight-color: transparent;

  @include print {
    display: none;
  }

  &__control {
    width: $fab-size;
    height: $fab-size;
    cursor: pointer;
    &--rotating {
      animation: 1s both;
      animation-name: φfab__ani-rotate;
    }

    // svg
    &-svg {
      z-index: -1;
      display: block;
      width: $fab-size;
      height: $fab-size;
    }
    // g
    &-dot {
      transform: translate3d(math.div($fab-size, 2), math.div($fab-size, 2), 0);
      circle {
        transition: all .15s cubic-bezier(0, 0, .382, 1.618);

        fill: $color-white;
      }
    }
    // text
    &-progress {
      font-family: #{'FONT_LABEL'};
      font-size: 1.2rem;
      line-height: 1;
      transform: translateY(.382em);

      fill: $color-white;
      text-anchor: middle;
      tspan {
        font-size: .75rem;
        font-family: inherit;
      }
    }
    // circle
    &-stroke {
      opacity: .9;
      transform: rotate(-90deg);
      transform-origin: 50% 50%;

      stroke: #{'ACCENT_COLOR'};
      stroke-width: 1px;
      fill: none;
    }
    // circle
    &-cover {
      fill: #{'ACCENT_COLOR'};
      opacity: .8;
    }
  }

  &__menu-group {
    span {
      position: absolute;
      z-index: -1;
      width: $fab-sub-size;
      height: $fab-sub-size;
      border-radius: 50%;
      background-color: rgba(0,0,0,.8);
      box-shadow: 0 2px 4px 1px rgba(0, 0, 0, .2);
      font-size: 1.5rem;
      line-height: $fab-sub-size;
      opacity: 0;
      cursor: pointer;
      transition: .4s cubic-bezier(0, 0, .382, 1.618);
      transition-property: transform, opacity;

      &::before {
        font-size: inherit;
      }
      &:nth-child(3n-2) {
        top: 0;
        right: 0;
      }
      &:nth-child(3n-1) {
        top: 0;
        left: 0;
      }
      &:nth-child(3n) {
        bottom: 0;
        left: 0;
      }
    }
    &--active span {
      opacity: 1;
      &:nth-child(1) {
        @include sub-transform(90deg, 1);
      }
      &:nth-child(2) {
        @include sub-transform(45deg, 1);
      }
      &:nth-child(3) {
        @include sub-transform(0, 1);
      }
      &:nth-child(4) {
        @include sub-transform(90deg, 2);
      }
      &:nth-child(5) {
        @include sub-transform(67.5deg, 2);
      }
    }
  }
}

@keyframes φfab__ani-rotate {
  to {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}
