<ng-container *ngIf="data$ | async as it">
  <article class="φv-tag__posts">
    <h1 class="φv-tag__name"># {{ it.tag.name }}</h1>
    <is-archive [posts]="it.tag.data"></is-archive>
  </article>
  <is-pager
    *ngIf="it.tag.total > 1"
    [size]="it.tag.per_page"
    [count]="it.tag.total"
    [current]="it.tag.current"
    [url]="'tags/' + it.tag.name"
    [indexUrl]="'tags/' + it.tag.name"
  ></is-pager>
</ng-container>
