<div *ngIf="meta && meta.custom" [innerHTML]="meta.custom"></div>
<ul class="φcopyright__list" *ngIf="meta && !meta.custom">
  <li class="φcopyright__item" *ngFor="let i of meta | keyvalue">
    <strong class="φcopyright__key">{{ 'post.copyright.' + i.key | i18n }}<span>:</span></strong>
    <p class="φcopyright__entry" [innerHTML]="i.value"></p>
  </li>
</ul>
