@import 'variable';

.φcopyright {
  display: block;
  margin: 2rem 0;
  padding: 1rem 1.5rem;
  background-color: #{'ACCENT_COLOR_005'};
  border-left: 3px solid #{'ACCENT_COLOR'};
  border-radius: $radius-s;
  word-break: break-word;
  line-height: 1.8;

  @include print {
    display: none;
  }

  &__list {
    margin: 0;
    padding: 0;
  }
  &__item {
    overflow: hidden;
    list-style: none;
  }
  &__key {
    float: left;
    // colon style
    span {
      margin: 0 .6em 0 .2em;
    }
  }
  &__entry {
    display: table-cell;
  }
}
