@use "sass:math";

@import 'variable';
$ribbon-offset: 1.5rem;

.φv-archive {
  display: block;

  &__outer {
    @include card();
    background: #{'CARD_BACKGROUND'};
    border-color: #{'BORDER_COLOR'};
  }
  &__year {
    position: relative;
    padding: $padding 0;
    border-color: inherit;

    @include mobile {
      padding: $padding-mobile 0;
    }

    &:first-of-type {
      margin-top: -$padding;
      @include mobile {
        margin-top: -$padding-mobile;
      }
    }
    &:last-of-type {
      margin-bottom: -$padding;
      padding-bottom: 6rem;
      @include mobile {
        margin-bottom: -$padding-mobile;
      }
    }

    &::before {
      position: absolute;
      top: 0;
      left: $ribbon-offset;
      height: 100%;
      border-left: 1px solid;
      border-color: inherit;
      content: '';
    }

    &-title {
      position: relative;
      margin: 0;
      line-height: 2.4em;
      background: #{'CARD_BACKGROUND'};
    }
  }
  &__month {
    position: relative;
    padding-left: 1.5rem + $ribbon-offset;
    &:hover {
      .φv-archive__month-title::after {
        opacity: 1;
      }
    }
    &-title {
      position: absolute;
      top: math.div($archive-anchor-height, 2);
      left: $ribbon-offset;
      padding: 0 .6em;
      background: #{'CARD_BACKGROUND'};
      border-radius: 2em;
      color: $color-white;
      text-transform: uppercase;
      font-family: #{'FONT_LABEL'};
      font-weight: 600;
      line-height: 2;
      transform: translate3d(-50%, -50%, 0) scale3d(.75, .75, 1);
      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-color: #{'ACCENT_COLOR'};
        background-image: none;
        border-radius: inherit;
        content: '';
        opacity: $opacity-2;
        transition: opacity .4s;
      }
    }
  }
}
